*{
    margin: .5vw auto 0vw;
}
.left{
    display: flex;
    align-items: center;
    gap: 1vw;
    
}
.right ul, li{
    display: flex;
    list-style: none;  
    gap: 3.5vw; 
   
}
.right ul, li a{
    text-decoration: none;
    color: black;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.40) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 400px;
    max-width: 1000px;
    border-radius: 12px;
    margin-top: 3vw;
    background-position: center;
    background-size: cover;
    color:white ;
}
.item-box{
    width: 14%;
    padding: 1.3%;
    font-size: .6em;
    border-radius: 8px;
}
.b-button{
    padding: .8% 1% ;
    width: 13%;
    background: #FF5400;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
   
}

 .b-title{
    font-size: 50px;
    margin-bottom: 1.2rem;
 } 
 .b-description{
    margin-bottom: 1.3rem;
 } 
 
.b-details{
    text-align: center;
    padding: 11%;
   
}
.b-item{
    align-items: center;
    max-width: 700px;
    justify-content: center;
    display: 
}
/* main section strat  */
.popular-tour{
    /* border: 1px solid green; */
    /* margin: .5vw auto 0vw; */
    width: 1000px;
    display: flex;
    /* height: 400px; */
    margin-top: 30px;
    gap: 10%;
}
.t-description{
    width: 45%;
    padding: 1rem;
}
.t-img{
    width: 45%;
}
.p-img img{
    width: 100%;
    height: 98%;
}
.t-description h3{
    font-size: 3em;
    margin-bottom: 25px;
}
.t-description p{
    margin-bottom: 30px; 
 } 
.btn-read{
    background-color: #FF5400;
    color: white;
    border: none;
    padding: 3% 6%;
    border-radius: 8px;
}
/* popular tour end  */
/* destination start  */
.des-diescription h1{
    font-size: 2.5rem;
}
.destinaltion{
    max-width: 1000px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.des-diescription{
    text-align: center;
}
.row{
    max-width: 1000px;
    height: 300px;
    display: flex;
    /* border: 1px solid green ; */
    gap: 10px;
    margin-top: 5px;
}
.img-collage .row img {
    
    height: 97%; 
    max-width: 100%; 
}
.image1{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.40) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/Rectangle\ 5.png);
    border: 1px solid blue;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.image2{
    background-image: url(Images/Rectangle\ 8.png);
    border: 1px solid blue;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
/* Choose Section start  */
.choose{
    max-width: 1000px;
    height: fit-content;
    margin-top: 40px;
}
.row1{
    display: flex;
    gap: 10px;
    height: 250px;
    margin-top: 40px;
}
.handpic{
    width: 50%;
    /* border: 1px solid blue; */
    padding: 5px 15px;
    border-radius: 10px;
    background: rgba(251, 181, 99, 0.05);
}
.world{
    width: 50%;
    /* border: 1px solid blue; */
    border-radius: 10px;
    /* height: 300px; */
    padding: 5px 15px;
    background: rgba(41, 206, 246, 0.05);;
}
.b-price{
    width: 50%;
    background: rgba(233, 68, 68, 0.05);
    border-radius: 10px;
    padding: 5px 15px;
}
.row2{
     display: flex;
  
    justify-content: center;
    height: 250px;
    
    
}
.c-title{
    text-align: center;
    width: 60%;
}
.newsletter{
    max-width: 1000px;
    margin-top: 40px;
    display: flex;
    gap: 30px;
    /* align-items: center; */
   


}
.f-title {
     display: flex;  
     justify-content: center;  
     gap: 1rem;
}
.f-title img{
    margin: 0;
}
.f-title h2{
    margin: 0px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
    max-width: 1000px;

    
}
.n-letter{
    display: flex;
    flex-direction: column;
    justify-content: right left;
    gap:15px;
    border: 1px solid red;
    padding: 30px;
    border-radius: 15px;
    
    
}
.imgl{
    margin:0;
    position: relative;
}
.imgl img{
    width: 100%
}
.n-letter input{
    margin: 0px;
    height: 40px;
    background:rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    border: none;
    padding-left: 20px;
    /* display: flex; */
    /* align-items: center; */
}
.n-letter .n-button{
    background: #FF5400;
    color: white;
}
.n-letter h3{
    margin: 0;
    font-size: 1.5rem;
}
p{
    color: #5A5A5D;
    font-size: 1rem;
}
.discount{
    height:70px;
    width: 220px;
    background-color: red;
    border-radius: 10px;
    position:absolute;
    bottom: 0;
    right: 0;
    rotate: -200deg;
    transform-origin: center;
    margin-bottom: 4rem;
    margin-right: 2rem;
}
.f-description{
    width: 38rem;
}
.f-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.icon {
    margin: 0px;
   
}
.copy hr{
     width: 50rem;
}
.copy p{
    text-align: center;
     margin-top: 3rem;
    padding-bottom: 3rem;
    
}
.f-container{
    padding-top: 5rem;
}



