*{
    margin: .5vw auto 0vw;
}
.left{
    display: flex;
    align-items: center;
    gap: 1vw;
    
}
.right ul, li{
    display: flex;
    list-style: none;  
    gap: 3.5vw; 
   
}
.right ul, li a{
    text-decoration: none;
    color: black;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.40) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 400px;
    max-width: 1000px;
    border-radius: 12px;
    margin-top: 3vw;
    background-position: center;
    background-size: cover;
    color:white ;
}
.item-box{
    width: 14%;
    padding: 1.3%;
    font-size: .6em;
    border-radius: 8px;
}
.b-button{
    padding: .8% 1% ;
    width: 13%;
    background: #FF5400;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
   
}

 .b-title{
    font-size: 50px;
    margin-bottom: 1.2rem;
 } 
 .b-description{
    margin-bottom: 1.3rem;
 } 
 
.b-details{
    text-align: center;
    padding: 11%;
   
}
.b-item{
    align-items: center;
    max-width: 700px;
    justify-content: center;
    display: 
}
/* main section strat  */
.popular-tour{
    /* border: 1px solid green; */
    /* margin: .5vw auto 0vw; */
    width: 1000px;
    display: flex;
    /* height: 400px; */
    margin-top: 30px;
    gap: 10%;
}
.t-description{
    width: 45%;
    padding: 1rem;
}
.t-img{
    width: 45%;
}
.p-img img{
    width: 100%;
    height: 98%;
}
.t-description h3{
    font-size: 3em;
    margin-bottom: 25px;
}
.t-description p{
    margin-bottom: 30px; 
 } 
.btn-read{
    background-color: #FF5400;
    color: white;
    border: none;
    padding: 3% 6%;
    border-radius: 8px;
}
/* popular tour end  */
/* destination start  */
